{% extends "base.html" %}
{% block content %}
<div class="mt-3 ml-28">
    <main class="relative z-0 flex-1 pb-8 px-6 bg-white">
        <div class="grid pb-10  mt-4 ">
            <!-- Start Content-->
              <div class="mb-2">
                <h1 class="flex items-center text-5xl font-extrabold dark:text-white">ReClassify<span class="bg-green-100 text-green-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-800 ml-2">Free</span></h1>
              </div>
              <div class="grid grid-cols-12 gap-6 border-b-2 pb-5">
                <div class="col-span-12 sm:col-span-12 md:col-span-8 lg:col-span-8 xxl:col-span-8">
                  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 mt-3">
                     <div class="p-4">
                        <p class="text-xl font-bold">{{projectName}}</p>
                        <p class="text-xs font-semibold text-gray-400">Container Name</p>
                     </div>
                     <div class="p-4">
                        <p class="text-xl font-bold">{{port}}</p>
                        <p class="text-xs font-semibold text-gray-400">WPort</p>
                     </div>
                     <div class="p-4">
                        <p class="text-xl font-bold">{{pub_ip}}</p>
                        <p class="text-xs font-semibold text-gray-400">IP Address</p>
                     </div>
                     <div class=" p-4">
                        <p class="text-xl font-bold">{{portc}}</p>
                        <p class="text-xs font-semibold text-gray-400">CamPort</p>
                     </div>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-4 lg:col-span-4 xxl:col-span-4">
                    <div class="p-4">
                        <p class="text-sm text-gray-400">Number of Request Left</p>
                        <div class="shadow w-full bg-gray-100 mt-2">
                            <div class="bg-indigo-600 text-xs leading-none py-1 text-center text-white" style="width: 0%"></div>
                         </div>
                          <p class="text-xs font-semibold text-gray-400 mt-2">∞</p>
                     </div>
                </div>
              </div>
              <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3">
                <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                  style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f868ecef-4b4a-4ddf-8239-83b2568b3a6b/de7hhu3-3eae646a-9b2e-4e42-84a4-532bff43f397.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y4NjhlY2VmLTRiNGEtNGRkZi04MjM5LTgzYjI1NjhiM2E2YlwvZGU3aGh1My0zZWFlNjQ2YS05YjJlLTRlNDItODRhNC01MzJiZmY0M2YzOTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.R0h-BS0osJSrsb1iws4-KE43bUXHMFvu5PvNfoaoi8o');">
                    <div class="absolute inset-0 bg-pink-900 bg-opacity-75 transition duration-300 ease-in-out"></div>
                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                      <div>
                        <h3 class="text-center text-white text-lg">
                             # Bandwidth
                        </h3>
                        <h3 class="text-center text-white text-3xl mt-2 font-bold">
                             1,402 / 24h (mb)
                        </h3>
                      </div>
                    </div>
                </div>
                 <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                  style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f868ecef-4b4a-4ddf-8239-83b2568b3a6b/de7hhu3-3eae646a-9b2e-4e42-84a4-532bff43f397.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y4NjhlY2VmLTRiNGEtNGRkZi04MjM5LTgzYjI1NjhiM2E2YlwvZGU3aGh1My0zZWFlNjQ2YS05YjJlLTRlNDItODRhNC01MzJiZmY0M2YzOTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.R0h-BS0osJSrsb1iws4-KE43bUXHMFvu5PvNfoaoi8o');">
                    <div class="absolute inset-0 bg-yellow-600 bg-opacity-75 transition duration-300 ease-in-out"></div>
                      <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                      <div>
                        <div class="text-white text-lg flex space-x-2 items-center">
                          <div class="bg-white rounded-md p-2 flex items-center">
                            <i class="fas fa-toggle-off fa-sm text-yellow-300"></i>
                          </div>
                          <p># Models</p>
                        </div>
                        <h3 class="text-white text-3xl mt-2 font-bold">
                            Number of models
                        </h3>
                         <h3 class="text-white text-lg mt-2 text-yellow-100 ">
                            {% for model in modelList %}
                              {{model}},
                            {%endfor%}
                        </h3>
                      </div>
                    </div>
                </div>
                 <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                  style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f868ecef-4b4a-4ddf-8239-83b2568b3a6b/de7hhu3-3eae646a-9b2e-4e42-84a4-532bff43f397.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y4NjhlY2VmLTRiNGEtNGRkZi04MjM5LTgzYjI1NjhiM2E2YlwvZGU3aGh1My0zZWFlNjQ2YS05YjJlLTRlNDItODRhNC01MzJiZmY0M2YzOTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.R0h-BS0osJSrsb1iws4-KE43bUXHMFvu5PvNfoaoi8o');">
                    <div class="absolute inset-0 bg-blue-900 bg-opacity-75 transition duration-300 ease-in-out"></div>
                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                      <div>
                        <div class="text-white text-lg flex space-x-2 items-center">
                          <div class="bg-white rounded-md p-2 flex items-center">
                            <i class="fas fa-clipboard-check fa-sm text-blue-800"></i>
                          </div>
                          <p>Frames</p>
                        </div>
                        <h3 class="text-white text-3xl mt-2 font-bold">
                            30 fps
                        </h3>
                       <h3 class="text-white text-lg mt-2 ">
                        <span class='font-semibold text-red-200'>frame rate is reduced due to server issue</span>
                     </h3>
                      </div>
                    </div>
                </div>        
              </div>
              
            <!-- End Content-->
        </div>
    </main>
    <div class="px-6">
      <h1 class="text-5xl font-extrabold dark:text-white">Token<small class="ml-2 font-semibold text-gray-500 dark:text-gray-400">{{token}}</small></h1>
    </div>
{% if is_admin == 1 %}
<div class="mt-10 ml-28"><form method="post" id="myForm"><button class="p-2 pl-5 pr-5 bg-red-500 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300" onsubmit="return confirm('Are you sure you want to submit?');">Destroy</button><form></div>
{% endif %}
</div>

{% endblock %}