
{% extends "base.html" %}
{% block content %}
<div class="h-screen" style="background-image: url(/static/img/header.png);">
    <!--Nav-->
    <div class="w-full container mx-auto" >
      <div class="w-full flex items-center justify-between">
        <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          href="#">
          Re<span
            class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">Classify</span>
        </a>

        <div class="flex w-1/2 justify-end content-center">
        </div>
      </div>
    </div>

    <!--Main-->
    <div class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
          Give
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
            Classification Work
          </span>
          to us!
        </h1>
        <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left text-purple-400">
          We will do all the classification work so that you can focus on important project!
        </p>

        <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
              It is as simple as printing hello
            </label>
            <p class="text-purple-500">
              import ReClassify as RC</br>
              cf = RC.load("TOKEN")
            </p>
          </div>

          <div class="flex items-center justify-between pt-4">
            <button
              class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button">
              Sign Up
            </button>
          </div>
        </form>
      </div>

      <!--Right Col-->
      <div class="w-full xl:w-3/5 p-12 overflow-hidden">
        <!-- <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="macbook.svg" /> -->
        <video autoplay loop muted
          class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6">
          <source src="/static/video/webBack.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="mx-auto md:pt-16">
        <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center">
          SDK support following language:
        </p>
        <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
          <img src="/static/img/python.svg" class="h-12 pr-12 transform hover:scale-125 duration-300 ease-in-out" />
          <img src="/static/img/java.svg" class="h-12 pr-12 transform hover:scale-125 duration-300 ease-in-out" />
          <img src="/static/img/go.svg" class="h-12 pr-12 transform hover:scale-125 duration-300 ease-in-out" />
          <img src="/static/img/scala.svg" class="h-12 transform hover:scale-125 duration-300 ease-in-out" />
        </div>
      </div>

      <!--Footer-->
    </div>
  </div>
{% endblock %}