{% extends "base.html" %}
{% block content %}
<div class="mt-3 ml-28 mr-8 antialiased sans-serif h-screen">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
    <table id="example" class="display min-w-full" style="width:100%">
        <thead>
            <tr>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">User Name</th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Email</th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Role</th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"># Container</th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Active date</th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Info</th>
            </tr>
        </thead>
        <tbody>
            <!-- [{'userName': 'ekstrah', 'email': 'dongho@ekstrah.com', 'role': 5, 'num_cont': -1}] -->
            {% for user in allAccount %}
            <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">{{user['userName']}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">{{user['email']}}</td>
                {% if user['role'] == 5 %}
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-pink-400 opacity-50 rounded-full"></span>
                    <span class="relative text-xs">Admin</span>
                </span></td>
                {% elif user['role'] == 3 %}
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-purple-200 opacity-50 rounded-full"></span>
                    <span class="relative text-xs">Preimium</span>
                </span></td>
                {% elif user['role'] == 1 %}
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-green-300 opacity-50 rounded-full"></span>
                    <span class="relative text-xs">Free</span>
                </span></td>
                {% else %}
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-yellow-300 opacity-50 rounded-full"></span>
                    <span class="relative text-xs">Deactivated</span>
                </span></td>
                {% endif %}
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">{{user['num_cont']}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">{{user['time-created']}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-500 border-gray-500 text-base leading-5">
                    <button class="p-2 pl-5 pr-5 bg-transparent border-2 border-green-500 text-green-500 text-sm rounded-lg hover:bg-green-500 hover:text-gray-100 focus:border-4 focus:border-green-300">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock %}